body{
 background-color: azure;
margin-top:0;
    padding-top: 800px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#Welcome{
    position: absolute;
    overflow: hidden;
    color: cornsilk;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(to bottom right,yellow, pink, aqua );
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    
}
.div{
    display: table-cell;
    text-align: center;
}
#samar{
    max-width: 500px;
    margin: auto;
    font-size: 20px;
}
h1{
    text-align: center;
}
img{
    padding: 50px;
    border-radius: 100px;
    height: 400px;
}
.p{
    color: blue;
}
.menu{
    list-style: none;
    position: fixed;
    cursor: pointer;
    top: 3px;
    right: 10px;
    z-index: 10;
}
.links{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: darkturquoise;
    
    
}
.links:hover{
    color:fuchsia;
    font-size: 35px;
    
}
.writings{
    color: crimson;
    font-size: 20px;
    
}
.writings:hover{
    color: darkviolet;
    font-size: 25px;
    
}
.
    
    
    

